<div class="media">
    <div class="media-body">
        <h4 class="media-heading">@Name</h4>
        <p>@Data</p>
    </div>
</div>

@code {
    [Parameter]
    public string Name { get; set; }

    [Parameter]
    public string Data { get; set; }

}
