@using System.Net.Mail;

    <div class="loginFormDiv">
        <label style="margin-bottom: 1rem">Please enter your email address:</label>
        <input @bind="@enteredEmail" class="form-control" placeholder="Email Address" id="email" />
        @if (!clicked)
        {
            <button class="btn btn-outline-info" style="margin-top: 1rem" @onclick="HandlePasswordReset">Reset password</button>
        }
        else
        {
            <h6 style="margin-top: 1rem">@Message</h6>
        }
    </div>

@code {

    public string Message { get; set; } = "";
    private string enteredEmail { get; set; }

    private bool clicked = false;

    bool IsValidEmail(string email)
    {
        try {
            var addr = new System.Net.Mail.MailAddress(email);
            return addr.Address == email;
        }
        catch {
            return false;
        }
    }

    public static string CreatePassword(int length)
    {
        try
        {
            byte[] result = new byte[length];
            for (int index = 0; index < length; index++)
            {
                result[index] = (byte)new Random().Next(33, 126);
            }
            return System.Text.Encoding.ASCII.GetString(result);
        }
        catch (Exception ex)
        {
            throw new Exception(ex.Message, ex);
        }
    }


    private async void HandlePasswordReset()
    {
        clicked = true;

        if (!IsValidEmail(enteredEmail))
        {
            Message = "Not a valid email address.";
            return;
        }

        User user = await users.GetUserByEmail(enteredEmail);
        if (user == null)
        {
            Message = "No registered user with given email address.";
            StateHasChanged();
            return;
        }
        else
        {
            Message = "Email sent.";
            StateHasChanged();
            try
            {
                string password = CreatePassword(10);
                await users.UpdatePassword(enteredEmail, password);
                using (MailMessage mail = new MailMessage())
                {
                    mail.From = new MailAddress("kamandaax@gmail.com");
                    mail.To.Add(enteredEmail);
                    mail.Subject = "Reset your password. | KAMANDAX";
                    mail.Body = $@"<h3>Hello, {user.FullName}.</h3>
                                   <p>You made a request to reset your password.</p>
                                   <p>New password is: <b>{password}</b></p>";
                    mail.IsBodyHtml = true;

                    using (SmtpClient smtp = new SmtpClient("smtp.gmail.com", 587))
                    {
                        //Reiktų paslėpti credentials šituos kažkaip
                        smtp.Credentials = new System.Net.NetworkCredential("kamandaax", "kamandax123");
                        smtp.EnableSsl = true;
                        smtp.Send(mail);
                    }
                }
            }
            catch (Exception)
            {

            }
        }

    }
}